body {
  background-color:#202225;
  height:100vh;
}

.whiteText {
  color: white;
}

#usernameScreen {
  height:100vh;
  width:100wh;
}

.noDisplay {
  display: none;
}

.connectedAsHeader {
  background-color:#202225;
  height:5vh;
}

#currentname {
  color:#aaabad;
  font-size:3vh
}

#app {
  height: 80vh;
}

#chatSidebar {
  background-color:#2f3136;
}

#chatSession {
  height: 100%;
}
#chatContainerColumn {
  background-color:hsl(0, 0%, 96%);
}

#chatContainer {
  background: transparent;
  height:100%;
  overflow-y:scroll;
}

#connectedUsersColumn {
  background-color:#2f3136;
}

#connectedUsers {
  background: transparent;
  height: 100%;
}

#onlinecount {
  color: #aaabad;
}

.connectedUser {
  color: #aaabad;
}

#messagebox {
  overflow: visible;
  resize: none;
  height: 80%;
}

#messageArea {
  width: 100%;
  height: 15vh;
  background-color:#202225;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chatMessage {
  word-wrap: break-word;
  overflow: hidden;
}

.userLeftMessage {
  color: #FF0000;
}

.userJoinedMessage {
  color: #228B22;
}

.preventOverflow {
  overflow: hidden;
}

.author, .timestamp {
  display: inline;
}

.author {
  margin-right: 5px;
}